.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 20px;
}
.buttons {
  display: flex;
  gap: 6px;
}

.buttons button {
  padding: 2px 6px;
  cursor: pointer;
}
