.App {
  display: flex;
  justify-content: center;
}

.container input {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

.listbox-container {
  padding: 0;
  margin: 0;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
}
.listbox-container li {
  list-style: none;
}
.listboxItem {
  background: black;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.activeItem {
  background-color: #d4cdcd;
  color: black;
}
